**/build
**/output
**/node_modules
**/.env
**/.DS_Store
**/videos
**/screenshots
**/*.crt
**/*.pem
**/*.key
**/*.csr
/services/ContinuousIntegration/ContinuousIntegration
/services/registry/registry
**/.cache
!root_ca.crt
gitea
covdatafiles
