{{ define "build" }} {{ template "Header" "build" }}
<div class="paper w-[calc(100% - 1px)] m-10 overflow-auto">
  <h3 class="text-3xl mb-4">Build {{ .ID }}</h3>
  <h3 class="text-2xl mb-4">
    Repo <a href="/repo/{{ .Repo.ID }}">{{ .Repo.Url }}</a>
  </h3>
  <h3 class="text-2xl mb-4">Status: {{ .Status }}</h3>
  <h4 class="text-xl">Containers:</h4>
  {{ range .Containers }}
  <div class="paper min-w-[10%] inline-block align-top">
    <a
      onclick="window.location.href = '/build/{{ .BuildID }}/container/{{ .Id }}'"
      class="text-white inline-block w-full cursor-pointer"
    >
      {{ .Name }} {{ $length := len .Log }} {{ if eq $length 0 }}
      <div
        class="inline bg-gray-500 rounded-2xl float-right h-6 w-6 text-center"
        id="{{ .Id }}"
      >
        ?
      </div>
      {{ else if not .Code }}
      <div
        class="inline bg-yellow-500 rounded-2xl float-right h-6 w-6 text-center"
        id="{{ .Id }}"
      >
        ?
      </div>
      {{ else if eq (Deref .Code) 0 }}
      <div
        class="inline bg-green-500 rounded-2xl float-right h-6 w-6 text-center"
        id="{{ .Id }}"
      >
        ✓
      </div>
      {{ else }}
      <div
        class="inline bg-red-500 rounded-2xl float-right h-6 w-6 text-center"
        id="{{ .Id }}"
      >
        X
      </div>
      {{ end }}
    </a>
    {{ $length := len .UploadedFiles }} {{ if gt $length 0 }} {{range
    .UploadedFiles}}
    <p>Uploaded Files:</p>
    <a class="block" href="/file/{{.ID}}" download="{{.Path}}.tar">
      {{.Path}}
    </a>
    {{end}} {{ end }}
  </div>
  {{ end }}
</div>
{{ template "Footer" }} {{end}}
