{{ define "Header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/dist.css" />
    {{ if or (eq . "dash") (eq . "repo")}}
    <script
      src="https://kit.fontawesome.com/2ef0f5c117.js"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="/assets/modal.js" defer type="module"></script>
    {{ else if eq . "build"}}
    <script
      src="https://kit.fontawesome.com/2ef0f5c117.js"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="/assets/build.js" type="module"></script>
    {{ else if eq . "container"}}
    <script
      src="https://kit.fontawesome.com/2ef0f5c117.js"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="/assets/container.js" defer type="module"></script>
    {{ end }}
    <title>Document</title>
  </head>
  <body class="dark:bg-gray-800 bg-gray-50">
    <div class="w-100 bg-purple-700 h-14 grid content-center">
      <a href="/">
        <h2 class="text-4xl text-white">Unnamed</h2>
      </a>
    </div>
    {{end}}
  </body>
</html>
